body {
	font-family: 'Inter', sans-serif;
}

h1 {
	font-size: 68px;
	color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

h2 {
	color: #6A87BE;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

h3 {
	color: #112A59;
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;

}

p {
	color: #143c69;
}

h5 {
	font-size: 13px;
}

#fp-nav ul li a span {
	background: #6A87BE;
}

#fp-nav ul li .fp-tooltip {
	color: #6A87BE;
}

.col-4 {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

img {
	width: 60%;
}

.photo {
	width: 200px;
	height: 200px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

.legend-text {
	font-size: 14px;
}

/*
.brush {
	fill: #ccc;
	fill-opacity: .5;
	pointer-events: none;
}*/

.axis line,
.axis path {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.tick text {
	font-family: sans-serif;
	font-size: 11px;
	fill: #555;
}

#priovis .x-axis text {
	font-weight: 600;
}

.area {
	fill: #825a5a;
}

.area.area-age {
	fill: #94a97a;
}

.bar {
	fill: #93bebf;
}

#dietFilter {
	max-width: 200px; /* Set a maximum width */
	margin: 0; /* Remove default margin */
	border-radius: 10px; /* Add border radius */
	background-color: #ffffff;
}

.diet-vis {
	height: 35vh; 
	width: 100%; 
}

.diet-tooltip {
	position: absolute;
	text-align: center;
	font: 12px sans-serif;
	color:rgb(169, 200, 233)
	/*  pointer-events: none;	This line needs to be removed */
}
.diet-tooltip h3,h4 {
	text-align: left;
}
.diet-tooltip h4 {
	font: 14px sans-serif;
}

.diet-tooltip p {
	font: 9px;
}

.diet-axis path,
.diet-axis line {
  fill: none;
  stroke: #134078; /* Color for axis lines */
  shape-rendering: crispEdges; /* Optional: Makes the lines crisp */
}

.diet-axis text {
  fill: #134078; /* Color for axis text */
	font-size: 1.3em;
}


#time-slider {
    width: 300px; /* Adjust the width as needed */
    margin: 20px auto; /* Center the slider and add some margin */
}

#migrationSlider {
    width: 400px; /* Adjust the width as needed */
    margin: 20px auto; /* Center the slider and add some margin */
}

.range-slider-value {
    background-color: #3373b8; /* Change the background color */
    color: #fff; /* Change the text color */
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust the font size */
    display: inline-block;
    vertical-align: top;
    margin-top: -5px; /* Adjust margin-top to align with the slider */
}
  
.noUi-connect {
    background: rgb(169, 200, 233); /* Adjust the color as needed */
}


.health-tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px sans-serif;
    background: white;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
}


.table-style {
	overflow-y: scroll; 
	height: 70vh; 
	width:100%;
	border: thin solid grey; 
	border-radius: 5px; 
	text-align: left;

}

th {
	color: #134078;
}

#subregionAnalysis {

	background-image: url('/images/bear_background.avif');
	background-size: cover;
	background-position: center;
	height: 100vh; /* Adjust as needed */
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;	
	color: #134078;
}


.overlay-box {
	background-color: rgba(255, 255, 255, 0.8); /* 80% transparency white */
	border-radius: 15px; /* Adjust as needed */
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 80%; /* Adjust width as needed */
	max-width: 800px; /* Maximum width for responsiveness */
}

.overlay-box h2 p {
	margin-bottom: 15px;
}

/* responsiveness */
@media (max-width: 1200px) {
	.subregionTableColumn {
			width: 100%;
			margin-top: 20px; 
	}

	 .subregionMapColumn {
		width: 100%;
}

		.dietVis {
			width: 100%
		}
		#dietAnalysis {
			width: 100%; 
}

}


.bold {
	font-weight: bold;
}

/* Add these styles to your existing styles.css file */
#revealButton {
	padding: 15px 30px; /* Adjust padding for height and width */
	border: none;
	border-radius: 25px;
	background-color: #6cc3e6; /* Light Blue */
	color: #fff; /* White text */
	font-size: 1.1em; /* Adjust font size */
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#revealButton:hover {
	background-color: rgb(72, 146, 215);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

Right column styles
.col-md-6 {
	float: right;
}


#hiddenText {
	display: none;
}

.reveal-box {
	background-color: #ffffff; /* Set background color */
	border: 2px solid rgb(72, 146, 215); /* Set border color and width */
	border-radius: 10px; /* Set border radius for rounded corners */
	padding: 20px; /* Add padding inside the box */
}

.whale {
	width: 60%;
	height: 60%;

}

.line-highlight {
	stroke-width: 3; /* or any other style changes to make the line stand out */
	stroke: orange !important; /* color of the highlight */
} 

.s1 {
	background-color: #112A59;
	position: relative;
}

.title {
	position: absolute;
	top: 15%; 
	left: 5%;
}

.snow-falling {
	width: 100%;
	height: 100%;
}

.bear {
	width: 30vh;
	height: 30vh;
	position: absolute;
    bottom: 12vh; 
    right: 12vh;
	z-index: 10;
}

.snow {
	position: absolute;
    bottom: 0; 
    left: 0;
	width: 100%;
	height: 25vh;
	z-index: 5;
}

.s2 {
	background-color: #f7fcff;
}

.s3 {
	background-color: #f7fcff;
}

.s4 {
	background-color: #f7fcff;
}

.s5 {
	background-color: #f7fcff;
}

.s6 {
	background-color: #f7fcff;
}

.s7 {
	background-color: #f7fcff;
}

.s8 {
	background-color: #f7fcff;
}

.s9 {
	background-color: #f7fcff;
}

.s10 {
	background-color: #f7fcff;
}

.s11 {
	background-color: #f7fcff;
}

#migrationDiv {
	position: relative;
}