

body {
	font-family: 'Inter', sans-serif;
	text-align: center;
	background-color: #f7fcff;
}

h1 {
	font-size: 42px;
	color: #093563;
	margin-top: 40px;
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

h2 {
	color: #1b5491;
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

#fp-nav ul li .fp-tooltip {
	color: #3373b8;
}

.section {
	margin-top: 40px;
	margin-bottom: 40px;
}

.col-4 {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

img {
	width: 60%;
}

.photo {
	width: 200px;
	height: 200px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

/*
.brush {
	fill: #ccc;
	fill-opacity: .5;
	pointer-events: none;
}*/

.axis line,
.axis path {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.tick text {
	font-family: sans-serif;
	font-size: 11px;
	fill: #555;
}

#priovis .x-axis text {
	font-weight: 600;
}

.area {
	fill: #825a5a;
}

.area.area-age {
	fill: #94a97a;
}

.bar {
	fill: #93bebf;
}

#dietFilter {
	max-width: 200px; /* Set a maximum width */
	margin: 0; /* Remove default margin */
	border-radius: 8px; /* Add border radius */
	background-color: #c4e4fb;
}

.diet-style {
	height: 100%; 
	width: 100%; 
}

.diet-tooltip {
	position: absolute;
	text-align: center;
	font: 12px sans-serif;
	/*  pointer-events: none;	This line needs to be removed */
}
.diet-tooltip h3,h4 {
	text-align: left;
}
.diet-tooltip h4 {
	font: 14px sans-serif;
}

.diet-tooltip p {
	font: 9px;
}

.diet-axis path,
.diet-axis line {
  fill: none;
  stroke: #134078; /* Color for axis lines */
  shape-rendering: crispEdges; /* Optional: Makes the lines crisp */
}

.diet-axis text {
  fill: #134078; /* Color for axis text */
	font-size: 1.3em;
}


/* Media query for smaller screens */
@media (max-width: 999px) {
  #dietAnalysis {
    display: block; /* Change display property to block to make it a block element */
    width: 100%; /* Make it take the full width of the container */
    margin-top: 10px; /* Adjust margin as needed */
  }
}





#time-slider {
    width: 300px; /* Adjust the width as needed */
    margin: 20px auto; /* Center the slider and add some margin */
}

#migrationSlider {
    width: 400px; /* Adjust the width as needed */
    margin: 20px auto; /* Center the slider and add some margin */
}

.range-slider-value {
    background-color: #3373b8; /* Change the background color */
    color: #fff; /* Change the text color */
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust the font size */
    display: inline-block;
    vertical-align: top;
    margin-top: -5px; /* Adjust margin-top to align with the slider */
}
  
.noUi-connect {
    background: rgb(169, 200, 233); /* Adjust the color as needed */
}